@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    overflow-x: hidden;
}
#Home {
    height: 130vh;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
}
.logo h1{
    margin-top: -16px;
    margin-right: 20vw;
    color: #fff;
    font-family: 'Poppins';
}
nav {
    display: flex;
    gap: 50px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Hedvig Letters Sans', sans-serif;
    opacity: .9;
}
nav a:hover {
    color: #919191;
}
.contact button {
    margin-top: -5vh;
    background-color: #ff5a00;
    color: #fff;
    border: 3px solid #42452a;
    padding: 16px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bolder;
    opacity: .9;
}
.create {
    width: 250px;
    background-color: #ff5a00;
    color: #fff;
    border: 3px solid #42452a;
    padding: 16px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bolder;
    opacity: .9;
}

.contact a{
    text-decoration: none;
    color: #fff;
}
.content {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#about {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.left {
    width: 50%;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.left h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
}
.left h3 span {
    color: #277ac9;
    font-weight: 800;
}
.left p {
    width: 800px;
    margin-left: -10vw;
    color: #fff;
    font-size: 2rem;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.swiper{
    height: 65vh;
    margin-left: 17vw;
    margin-top: 30vh;
}
.swiper img {
    width: 750px;
    height: 400px;
    border-radius: 5px;
}
.swiper-pagination {
    margin-left: -10vw;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 10px;
    display: inline-block;
    background: #fff;
    opacity: 0.5;
    margin: 0 5px;
    border-radius: 20px;
    transition: opacity 0.5s, background-color 0.5s, width 0.5s;
    transition-delay: 0.5s, 0.5s, 0s;
}
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
    width: 100px;
    transition-delay: 0s;
}
.swiper-button-prev {
    margin-left: -3vw;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
}
.collab {
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin-top: 15vh;
}
.collab p{
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins';
    margin-left: 5vw;

}
.collab div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.collab div a {
    text-decoration: none;
    background: #155da0;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.collab div h2 {
    color: #d6d2d2;
    font-size: 16px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin-top: 3px;
}
.collab div a img{
    width: 30px;

}
.information {
    background: #ddddd9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    height: 50%;
    margin-top: 12vh;
    margin-left: 5vw;
}
.information section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
}
.information p {
    font-size: 1.5rem;
    font-family: 'Poppins';
}
.information p span{
    font-weight: 800;
}
.information:hover {
    background: #919191;
}
.information:hover a{
    color: #fff;
}
.information a {
    font-family: 'Hedvig Letters Sans', sans-serif;
    text-decoration: none;
    color: #292828;
    font-size: 18px;
}



#contact {
    width: 90%;
    margin-left: 5vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    background: #ddddd9;
    border-radius: 25px;
}
#success-message {
    opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #0e0d0d;
}
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #000;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
    
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #000000;
      background: #fff;
      border-radius: 10px;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #000;
      background: #000;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
    }
  }
  

.map {
    height: 70vh;
    display: flex;
    align-items:end;
}
.map iframe {
    min-width: 1120px; 
}